---
import { SITE_TITLE } from '../consts';
import navigation from '../data/navigation.json';
import HeaderLink from './HeaderLink.astro';

const navItems = navigation.filter((item) => item.enabled);
---

<header>
	<nav>
		<a class="site-name" href="/">{SITE_TITLE}</a>
		<div class="internal-links">
			{navItems.map((item) => <HeaderLink href={item.href}>{item.label}</HeaderLink>)}
		</div>
	</nav>
</header>
